body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-contents {
    margin: auto;
    text-align: center;
}

#frontpage-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    animation: unfrost 400ms ease-out 800ms 1 normal forwards;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

h1 {
    font-size: 26pt;
    font-weight: 800;
    font-style: italic;
    animation: unfrost 400ms ease-out 0ms 1 normal forwards;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

h1:nth-of-type(1) {
    color: #222222;
    animation-delay: 0ms;
}

h1:nth-of-type(2) {
    color: #666666;
    animation-delay: 200ms;
}

h1:nth-of-type(3) {
    color: #AAAAAA;
    animation-delay: 400ms;
}

h1:nth-of-type(4) {
    color: #DDDDDD;
    animation-delay: 600ms;
}

@keyframes unfrost {
    from {
        -webkit-filter: blur(5px);
        filter: blur(5px)
    }

    to {
        -webkit-filter: blur(0px);
        filter: blur(0px)
    }
}